body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}
p{font-weight: bold;}

/* Main Container */
#main {

    margin: 5px auto;
    padding: 20px;
   max-width: 50%;

   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
        background-color:rgb(238 233 225);
}
#header{
    margin: 3px;
    padding: 10px; 
    text-align: center;


}
